# RULES -> single_word: value
# -> output_path must exist (mkdir first)
# -> Booleans MUST be 'True' or 'False', as in python.
# -> Don't start lines with tab or space.
mppc_DIGITIZER_FULL_SCALE_RANGE: 2.5 # Vpp
mppc_DIGITIZER_RESOLUTION: 12 # bits
mppc_DIGITIZER_SAMPLE_RATE: 3200000000 # Sa/s
nSamples: 512
percentage: 0.1 #%
start_rise: 0.1 #%
end_rise: 0.9 #%
noise_threshold: -15 # mV
output_path: /home/koerich/CERN/analysis_result
plot_waveforms: False # If TRUE, analysis will take considerably longer.